@font-face {
    font-family: TeX Gyre Adventor;
    src:url(texgyreadventor-italic.otf);
    src:url(texgyreadventor-bold.otf);
    src:url(texgyreadventor-regular.otf);
}
@font-face {
  font-family:ITC;
  src: url(fonts/ITCAvantGardeGothicBook.ttf);
}
@font-face {
  font-family:ITC-II;
  src: url(fonts/ITCAvantGardeGothicStdBook3.ttf);
}
@font-face {
  font-family:ITC-III;
  src: url(fonts/ITCAvantGardePro-Demi.otf);
}
.reg-form{
  padding: 20px;
  background: #E0E0E0;
}
.main-content{
  background-color: #000;
  color: #C9C9C9;
  background-image: url("assets/images/sony_slice_5.png");
}
.form-control{
  border-radius: 0px !important;
}
body div{
  font-family: ITC-II;
}
.submit{
  padding-bottom: 20px;
}
#first img{
    width: 100%;
    display: block;
}
.a2a_kit{
  background-color: #E96630 !important;
}
.wrapper{

background-image: url("assets/images/8.png");
background-color: #000000;
}
.btnSubmit{
  border-radius: 0px !important;
}
.tableholder{
  background: rgba(255,255, 255, 0.9);
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.tableholder table{
  color: #000;

}
.footer{
  color: #E1E2E3;
  background-color: #000;
  padding: 20px;
}
